.foto_item {
	width:150px;
	height:200px;
	text-align: center;
	margin-right: 10px;
	float:left;
}
.foto_item img {
	width:150px;
}
.containerlogin {
  border:1px solid: #000;
  padding:20px;
  background-color:#FFFFFF;
  width: 300px;
  margin:auto;
}
